# =========================
# NODE MODULES
# =========================

node_modules/

# =========================
# ENV FILES
# =========================

.env

# =========================
# BUILD FILES
# =========================

dist/
build/

# =========================
# VITE
# =========================

.vite/

# =========================
# LOG FILES
# =========================

*.log

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# GO
# =========================

*.exe
*.test
*.out

# =========================
# IDE
# =========================

.vscode/
.idea/